In [11]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

In [74]:
season = ["2010-2011","2011-2012", "2012-2013", "2013-2014", "2014-2015", "2015-2016", "2016-2017", "2017-2018", "2018-2019", "2019-2020", "2020-2021", "2021-2022", "2022-2023"]

In [71]:
def get_table(season):
    headers = {'Accept': '/', 'Connection': 'keep-alive', 'User-Agent': 'Mozilla/5.0 (Windows NT 6.0) AppleWebKit/537.36 (KHTML,like Gecko) Chrome/70.0.3538.110 Safari/537.36', 'Accept-Language':'en-US;q=0.5,en;q=0.3', 'Cache-Control': 'max-age=0', 'Upgrade-Insecure-Requests': '1'}
    p = requests.get(f"https://www.eurosport.com/football/premier-league/{season}/standings.shtml", headers = headers) 
    print(p.status_code)
    page = p.content
    soup = BeautifulSoup(page,"html.parser")
    rows = soup.find_all("tr",{"data-testid":"table-row-data"})
    data = []
    for row in rows:
        team_rank = row.find("td",{"data-testid":"table-cell-value"}).text.strip()
        team_name = row.find("td",{"data-testid":"table-cell-team"}).text.strip()
        team_data = row.find_all("td",{"data-testid":"table-cell-value"})
        td = [cell.get_text(strip = True) for cell in team_data]
        data.append([team_rank]+[team_name]+td+[season])
    df = pd.DataFrame(data)
    return df
    

get_table("2017-2018")

200

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,Manchester CityMCI,1,38,32,4,2,106,27,79,100,2017-2018
1,2,Manchester UnitedMUN,2,38,25,6,7,68,28,40,81,2017-2018
2,3,Tottenham HotspurTOT,3,38,23,8,7,74,36,38,77,2017-2018
3,4,LiverpoolLIV,4,38,21,12,5,84,38,46,75,2017-2018
4,5,ChelseaCHE,5,38,21,7,10,62,38,24,70,2017-2018
5,6,ArsenalARS,6,38,19,6,13,74,51,23,63,2017-2018
6,7,BurnleyBUR,7,38,14,12,12,36,39,-3,54,2017-2018
7,8,EvertonEVE,8,38,13,10,15,44,58,-14,49,2017-2018
8,9,Leicester CityLEI,9,38,12,11,15,56,60,-4,47,2017-2018
9,10,Newcastle UnitedNEW,10,38,12,8,18,39,47,-8,44,2017-2018
10,11,Crystal PalaceCRY,11,38,11,11,16,45,55,-10,44,2017-2018
11,12,BournemouthBOU,12,38,11,11,16,45,61,-16,44,2017-2018
12,13,West Ham UnitedWHU,13,38,10,12,16,48,68,-20,42,2017-2018
13,14,WatfordWAT,14,38,11,8,19,44,64,-20,41,2017-2018
14,15,Brighton & Hove AlbionBHA,15,38,9,13,16,34,54,-20,40,2017-2018
15,16,Huddersfield TownHUD,16,38,9,10,19,28,58,-30,37,2017-2018
16,17,SouthamptonSOU,17,38,7,15,16,37,56,-19,36,2017-2018
17,18,Swansea CitySWA,18,38,8,9,21,28,56,-28,33,2017-2018
18,19,Stoke CitySTO,19,38,7,12,19,35,68,-33,33,2017-2018
19,20,West Bromwich AlbionWBA,20,38,6,13,19,31,56,-25,31,2017-2018

In [76]:
season = ["2011-2012", "2012-2013", "2013-2014", "2014-2015", "2015-2016", "2016-2017", "2017-2018", "2018-2019", "2019-2020", "2020-2021", "2021-2022", "2022-2023", "2023-2024"]
full_table = get_table("2010-2011")
for i in season:
    print(i)
    df = get_table(i)
    full_table=pd.concat([full_table,df])
full_table

200
2011-2012
200
2012-2013
200
2013-2014
200
2014-2015
200
2015-2016
200
2016-2017
200
2017-2018
200
2018-2019
200
2019-2020
200
2020-2021
200
2021-2022
200
2022-2023
200
2023-2024
200

    0                     1   2   3   4   5   6   7    8    9   10         11
0    1  Manchester UnitedMUN   1  38  23  11   4  78   37   41  80  2010-2011
1    2            ChelseaCHE   2  38  21   8   9  69   33   36  71  2010-2011
2    3    Manchester CityMCI   3  38  21   8   9  60   33   27  71  2010-2011
3    4            ArsenalARS   4  38  19  11   8  72   43   29  68  2010-2011
4    5  Tottenham HotspurTOT   5  38  16  14   8  55   46    9  62  2010-2011
..  ..                   ...  ..  ..  ..  ..  ..  ..  ...  ...  ..        ...
15  16          BrentfordBRE  16  38  10   9  19  56   65   -9  39  2023-2024
16  17  Nottingham ForestNOT  17  38   9   9  20  49   67  -18  32  2023-2024
17  18         Luton TownLUT  18  38   6   8  24  52   85  -33  26  2023-2024
18  19            BurnleyBUR  19  38   5   9  24  41   78  -37  24  2023-2024
19  20   Sheffield UnitedSHU  20  38   3   7  28  35  104  -69  16  2023-2024

[280 rows x 12 columns]